@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
}

:root {
  --color-gris-texto: #cecfd3;
  --color-gris-oscuro-texto: #66666d;
  --color-naranja-claro-texto: #e8be4c;
  --color-azul-oscuro-background: #011f3f;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-azul-oscuro-background);
  color: white;
}

html {
  font-size: 16px;
}

main {
  padding: 1rem;
  width: 90vw;
  height: 99vh;
  border: solid white 0.0625rem;
  border-radius: 1rem;
}

h1 {
  color: var(--color-naranja-claro-texto);
  font-size: 2rem;
  text-align: center;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

h3 {
  color: #b66645;
  margin-top: 1rem;
  width: 100%;
}

label {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

input {
  background-color: var(--color-gris-texto);
  font-size: 1rem;
  padding-left: 0.5rem;
  height: 2rem;
  width: 10rem;
  border-radius: 0.25rem;
  border: none;
}

button {
  background-color: var(--color-naranja-claro-texto);
  color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  font-size: 1.5rem;
  width: 8rem;
  height: 2rem;
  border-radius: 0.25rem;
  border: none;
}

form {
  display: flex;
  flex-direction: column;
}

button:hover {
  background-color: white;
}

.nombre_acudiente,
.nombre_estudiante {
  border-top: solid white 0.0625rem;
  width: 100%;
}

.referido {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  font-size: 1.7rem;
}

::placeholder {
  color: var(--color-gris-oscuro-texto);
}

@media (min-width: 500px) {
  label {
    flex-direction: column;
    align-items: center;
    flex-direction: row;
  }

  input {
    margin-left: auto;
    width: 18rem;
  }

  main {
    width: 70vw;
    height: 80vh;
  }
}

@media (min-width: 800px) {
  main {
    width: 40vw;
    height: 75vh;
  }
}
