@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
}

:root {
  --color-gris-texto: #cecfd3;
  --color-gris-oscuro-texto: #66666d;
  --color-naranja-claro-texto: #e8be4c;
  --color-azul-oscuro-background: #011f3f;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

body {
  background-color: var(--color-azul-oscuro-background);
  color: white;
}

html {
  font-size: 16px;
}

h1 {
  color: var(--color-naranja-claro-texto);
  font-size: 2rem;
  text-align: center;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

label {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
}

input {
  background-color: var(--color-gris-texto);
  font-size: 1rem;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  height: 2rem;
  width: 15rem;
  border-radius: 0.25rem;
  border: none;
}

button {
  background-color: var(--color-gris-texto);
  color: var(--color-gris-oscuro-texto);
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2.5rem;
  font-size: 1.5rem;
  width: 8rem;
  height: 2rem;
  border-radius: 0.25rem;
  border: none;
}

button:hover {
  background-color: white;
}

.titulo {
  font-size: 1.7rem;
}

::placeholder {
  color: var(--color-gris-oscuro-texto);
}

@media (min-width: 500px) {
  label {
    flex-direction: row;
    align-items: center;
  }

  input {
    margin-left: 1rem;
  }
}

@media (min-width: 800px) {
  html {
    font-size: 24px;
  }
}
